<h1>All Evaluations Page</h1>
<body>
  <table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Evaluator</th>
        <th>Evaluee Name</th>
        <th>Score</th>
        <th>Comment</th>
      </tr>
  </thead>

    <tbody>
      <% @evaluations.each do |evaluation| %>
        <tr>
          <%evaluation.each do |eval|%>
              <td> <%= eval %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

<%= link_to 'Back', projects_path %>
</body>