<%provide(:title, "View | Login")%>

<%
=begin%>
 <h1>Welcome to Peer Evaluation Tool Login</h1>

<p>OSU Email</p>
<p>Password</p> 
<%
=end%>
<body>
    <div>
        <h1>Login</h1>
        <%= form_tag '/login' do %>
            Username: <%= text_field_tag :username %><br>
            Password: <%= password_field_tag :password %><br>
            <%= submit_tag "Log In"%>
        <% end %>
    </div>

</body>