<h1>Sessions#login</h1>
<p>Find me in app/views/sessions/login.html.erb</p>
<body>
    <div>
        <h1>Login</h1>
        <%= form_tag '/login' do %>
            Username: <%= text_field_tag :username %><br>
            Password: <%= password_field_tag :password %><br>
            <%= submit_tag "Log In"%>
        <% end %>
    </div>
</body>