<h1>Create A Group</h1>

<div>
    <h1> Add Group </h1>
    <p> Please write a group name that has not been taken yet</p>
    <div class = "GroupName">
        <%= form_with model: @group, url: new_group_path do |form|%>
        <%= form.label :groupname%>
        <%= form.text_field :groupname,class: "form-control", placeholder: "McDonalds"%>
    </div>
 
    <div class = "submit">
        <%= form.submit "Add Group", class: "btn btn-primary"%>
    </div>
    <%end %>
</div>
