<%provide(:title, "Admin View | Evaluation")%>

<h1>Evaluations</h1>

<table>
    <tr>
        <th> Evaluator </th>
        <th> Rating </th>
        <th> Comments</th>
    </tr>

    <tr> 
        <%= @evalsWanted.all.each do |eval| %>
        <td><%=eval.user.u_name %> <\td>
        <td> <%=eval.rating%> <\td>
        <td> <%=eval.content%> <\td>
    </tr>
    <% end %>

</table>
