<h1><%= @user.name %>'s groups</h1>
<table class="table">
   <tr>
      <th> Group Names </th>
  </tr>
</table>

<%
=begin%>
 <div>
  <% if @user.groups.any?%>
    <% @user.groups.each do |group| %>
     <tr><%= group.groupname %></tr>
    <% end %>
  <% end %>
</div> 
<%
=end%>
